@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">
                    My Projects
                    <span class="d-inline">Total: @Model.CurrentUser.Projects.Count()</span>
                </div>
                <div class="card-body td-center">
                    <a href="@Url.Action(nameof(BugController.ViewMyProjects),"Bug")" title="My Projects">
                        <i class="fas fa-folder dashboard-icon text-white" id="my-projects"></i>
                        <h5 class="text-white">Go to My Projects</h5>
                    </a>
                </div>
            </div>
        </div>

        @if (User.IsInRole(nameof(UserRoles.Admin)) || User.IsInRole(nameof(UserRoles.ProjectManager)))
        {
            <div class="col-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-primary">
                        All Projects
                        <span class="d-inline">Total: @Model.AllProjects.Count()</span>
                    </div>
                    <div class="card-body td-center">
                        <a href="@Url.Action(nameof(BugController.ViewAllProjects),"Bug")" title="My Projects">
                            <i class="fas fa-folder dashboard-icon text-white" id="all-projects"></i>
                            <h5 class="text-white">Go to All Projects</h5>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr class="sidebar-divider">
    <div class="row">
        @if (User.IsInRole(nameof(UserRoles.Submitter)))
        {
            <div class="col-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-primary">
                        My Created Tickets
                        <span class="d-inline">Total: @Model.CurrentUser.Projects.Count()</span>
                    </div>
                    <div class="card-body td-center">
                        <a href="@Url.Action(nameof(BugController.ViewMyCreatedTickets),"Bug")" title="My Projects">
                            <i class="fas fa-folder dashboard-icon text-white" id="my-projects"></i>
                            <h5 class="text-white">Go to My Created Tickets</h5>
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole(nameof(UserRoles.Admin)) || User.IsInRole(nameof(UserRoles.ProjectManager)))
        {
            <div class="col-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-primary">
                        All Tickets
                        <span class="d-inline">Total: @Model.AllTickets.Count()</span>
                    </div>
                    <div class="card-body td-center">
                        <span class="d-block">Open: @Model.OpenTickets.Count()</span>
                        <span class="d-block">Resolved: @Model.ResolvedTickets.Count()</span>
                        <span class="d-block">Rejected: @Model.RejectedTickets.Count()</span>
                        <a href="@Url.Action(nameof(BugController.ViewAllTickets),"Bug")" title="My Projects">
                            <i class="fas fa-fw fa-ticket-alt dashboard-icon text-white" id="all-projects"></i>
                            <h5 class="text-white">Go to All Tickets</h5>
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole(nameof(UserRoles.Developer)) || User.IsInRole(nameof(UserRoles.Submitter)))
        {
            <div class="col-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-primary">
                        My Project's Tickets
                        <span class="d-inline">Total: @Model.MyProjectsTickets.Count()</span>
                    </div>
                    <div class="card-body td-center">
                        <a href="@Url.Action(nameof(BugController.ViewMyProjectsTickets),"Bug")" title="My Projects">
                            <i class="fas fa-folder dashboard-icon text-white" id="my-projects"></i>
                            <h5 class="text-white">Go to My Project's Tickets</h5>
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole(nameof(UserRoles.Developer)))
        {
            <div class="col-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-primary">
                        Tickets Assigned To Me
                        <span class="d-inline">Total: @Model.CurrentUser.AssignedTickets.Count()</span>
                    </div>
                    <div class="card-body td-center">
                        <a href="@Url.Action(nameof(BugController.ViewMyAssignedTickets),"Bug")" title="My Projects">
                            <i class="fas fa-folder dashboard-icon text-white" id="my-projects"></i>
                            <h5 class="text-white">Go to My Assigned Tickets</h5>
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>
    <hr class="sidebar-divider">
    @if (User.IsInRole(nameof(UserRoles.Admin)))
    {
        <div class="col-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">
                    Manage Users
                    <span class="d-inline">Total: @Model.AllUsers.Count()</span>
                </div>
                <div class="card-body td-center">
                    <a href="@Url.Action(nameof(BugController.ManageUsers),"Bug")" title="My Projects">
                        <i class="fas fa-users dashboard-icon text-white" id="my-projects"></i>
                        <h5 class="text-white">Go to Manage Users</h5>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
