@model AssignTicketViewModel
@{
    ViewBag.Title = "AssignTicket";
}

<h2>Assign Ticket</h2>
<form method="post">
    <div class="card" style="width: 100%">
        <div class="card-body">
            <h5 class="card-title">Ticket Title: @Model.Title</h5>
            @if (Model.AssignedDeveloper != null)
            {
                <h6 class="card-subtitle mb-2 text-muted">Current Assigned Developer: @Model.AssignedDeveloper.Name </h6>
            }
            else
            {
                <h6 class="card-subtitle mb-2 text-muted">Current Assigned Developer: None </h6>
            }
            <div class="form-group">
                @Html.LabelFor(m => m.Developers, "Developers:")
                @Html.DropDownListFor(
                p => p.AssignedDeveloperId,
                new SelectList(Model.Developers, "ID", "Name"),
                "-- Please select a developer --",new {@class="form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Assign</button>
            <a href="@Url.Action(nameof(BugController.ViewAllTickets),"Bug")" class="btn btn-danger">Cancel</a>
        </div>
    </div>  
</form>