@model CreateTicketViewModel
@{
    /**/

    ViewBag.Title = "CreateTicket";
}

<h2>CreateTicket</h2>
<form method="post" ">
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @if (!Model.Projects.Any())
    {
        <p>Sorry you are not assigned to any project to create a ticket.</p>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Title, "Ticket Title:")
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, "Ticket Description:")
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Projects, "Project:")
                            @Html.DropDownListFor(
                            p => p.ProjectId,
                            new SelectList(Model.Projects, "ID", "Name"),
                            "-- Please select a project --",new {@class="form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Types, "Type:")
                            @Html.DropDownListFor(
                            p => p.TypeId,
                            new SelectList(Model.Types, "ID", "Name"),
                            "-- Please select a type --",new {@class="form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Statuses, "Status:")
                            @Html.DropDownListFor(
                            p => p.StatusId,
                            new SelectList(Model.Statuses, "ID", "Name"),
                            "-- Please select a status --",new {@class="form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Priorities, "Priority:")
                            @Html.DropDownListFor(
                            p => p.PriorityId,
                            new SelectList(Model.Priorities, "ID", "Name"),
                            "-- Please select a priority --",new {@class="form-control" })
                        </div>



                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="@Url.Action("Index","Home")" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    }
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}