@model EditProjectViewModel
@{
    ViewBag.Title = "EditProject";
}

<h2>Edit Project</h2>

<form method="post" action="@Url.Action("EditProject","Bug",new {id=Model.Id })">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, "Project Name:")
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

