@model EditMembersViewModel
@{
    ViewBag.Title = "EditMembers";
}

<h2>Edit Members</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <h6>Project Name: @Model.Name</h6>
            </div>
            <label>Members</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Unassign</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model.MemberUsers)
                    {
                        <tr>
                            <td>@u.Name</td>
                            <td>@u.Email</td>
                            <td>
                                <a href="@Url.Action("Unassign","Bug", new {projectId = Model.Id, userId = u.Id })">Unassign</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <label>Non Members</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Assign</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model.NonMemberUsers)
                    {
                        <tr>
                            <td>@u.Name</td>
                            <td>@u.Email</td>
                            <td>
                                <a href="@Url.Action("Assign","Bug", new {projectId = Model.Id, userId = u.Id })">Assign</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
