@model ProjectDetailsViewModel
@{
    ViewBag.Title = "ProjectDetails";
}

<h2>Project Details</h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h5 class="card-title">Project Name: @Model.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Details</h6>
                    <p class="card-text">@Model.Details</p>
                    @if (User.IsInRole(nameof(UserRoles.Admin)) || User.IsInRole(nameof(UserRoles.ProjectManager)))
                    {
                        <a href="@Url.Action("EditProject", "Bug", new { id = Model.Id })" title="Edit Project">
                            [Edit Project]
                        </a>
                        <a href="@Url.Action(nameof(BugController.ArchiveProject),"Bug",new {projectId=@Model.Id })" title="Archive Project">
                            [Archive Project]
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h5 class="card-title">Tickets</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total: @Model.Tickets.Count </h6>
                    <h5 class="card-title">Members</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total: @Model.Users.Count </h6>

                    @foreach (var u in Model.Users)
                    {
                        <h6>@u.Name</h6>
                    }

                    @if (User.IsInRole(nameof(UserRoles.Admin)) || User.IsInRole(nameof(UserRoles.ProjectManager)))
                    {
                        <a href="@Url.Action(nameof(BugController.EditMembers),"Bug",new {id=@Model.Id })" title="Edit Members">
                            [Edit Members]
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


