@model TicketViewModel
@{
    ViewBag.Title = "ViewTicketDetails";
}

<h2>Ticket Details</h2>

<div class="row">
    <div class="col-6">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Title: @Model.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Description: @Model.Description </h6>
                <h6 class="card-subtitle mb-2 text-muted">Date Created: @Model.DateCreated </h6>
                @if (Model.DateUpdated != null)
                {
                    <h6 class="card-subtitle mb-2 text-muted">Date Updated: @Model.DateUpdated </h6>
                }
                else
                {
                    <h6 class="card-subtitle mb-2 text-muted">Date Updated: Not Updated</h6>
                }
                <h6 class="card-subtitle mb-2 text-muted">Project: @Model.Project.Name </h6>
                <h6 class="card-subtitle mb-2 text-muted">Type: @Model.Type.Name </h6>
                <h6 class="card-subtitle mb-2 text-muted">Priority: @Model.Priority.Name</h6>
                <h6 class="card-subtitle mb-2 text-muted">Status: @Model.Status.Name </h6>
                <h6 class="card-subtitle mb-2 text-muted">Creator: @Model.Creator.Name </h6>
                @if (Model.AssignedDeveloper != null)
                {
                    <h6 class="card-subtitle mb-2 text-muted">Assigned Developer: @Model.AssignedDeveloper.Name </h6>
                }
                else
                {
                    <h6 class="card-subtitle mb-2 text-muted">Assigned Developer: None </h6>
                }
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Attachments:</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    <label for="file">Filename:</label>
                    <input type="file" name="file" id="file" />
                    <button type="submit" class="btn btn-primary">Attach</button>
                </form>
                @foreach (var a in Model.Attachments)
                {
                    <div class="d-block">
                        <a href="@Url.Content(a.FilePath)">
                            @a.FileName
                        </a>
                        <a href="@Url.Action(nameof(BugController.RemoveAttachment),"Bug",new {Id=a.Id,ticketId=Model.Id })" title="Remove Attachment">
                            <i class="fas fa-minus-square"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Comments:</h5>
                @if (!Model.Comments.Any())
                {
                    <p>No Comments yet.</p>
                }
                else
                {
                    foreach (var comment in Model.Comments)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="comments col-md-9" id="comments">
                                    <div class="comment mb-2 row">
                                        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                            <a href=""><img class="mx-auto rounded-circle img-fluid" src="~/Content/img/user.jpg" alt="avatar"></a>
                                        </div>
                                        <div class="comment-content col-md-11 col-sm-10">
                                            <h6 class="small comment-meta"><a href="#">@comment.User.UserName</a> @comment.DateCreated</h6>
                                            <div class="comment-body">
                                                <p>
                                                    @comment.Comment
                                                    <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <form action="@Url.Action(nameof(BugController.AddComment),"Bug",new {Id = Model.Id, model = Model})">
                    <div class="form-group">
                        <input type="text" class="form-control d-inline" placeholder="Enter comment" name="comment">
                        <button type="submit" class="btn btn-primary d-inline">Add Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>