@model TicketViewModel
@{
    ViewBag.Title = "ViewTicketDetails";
}

<h2>
    Ticket Details
    <a href="@Url.Action(nameof(BugController.EditTicket),"Bug",new {Id=Model.Id })" title="Edit Ticket">
        <i class="fas fa-edit"></i>
    </a>
</h2>
@if (User.IsInRole(nameof(UserRoles.Admin)) || User.IsInRole(nameof(UserRoles.ProjectManager)))
{
    if (Model.Notification)
    {
        <span class="text-success">Notifications On</span>
        <a href="@Url.Action(nameof(BugController.ToggleNotification),"Bug",new {Id=Model.Id })" title="Edit Ticket">
            <span class="text-danger">[Turn Off]</span>
        </a>
    }
    else
    {
        <span class="text-danger">Notifications Off</span>
        <a href="@Url.Action(nameof(BugController.ToggleNotification),"Bug",new {Id=Model.Id })" title="Edit Ticket">
            <span class="text-success">[Turn On]</span>
        </a>
    }
}

<div class="row">
    <div class="col-6">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Title: @Model.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Description: @Model.Description </h6>
                <h6 class="card-subtitle mb-2 text-muted">Date Created: @Model.DateCreated </h6>
                @if (Model.DateUpdated != null)
                {
                    <h6 class="card-subtitle mb-2 text-muted">Date Updated: @Model.DateUpdated </h6>
                }
                else
                {
                    <h6 class="card-subtitle mb-2 text-muted">Date Updated: Not Updated</h6>
                }
                <h6 class="card-subtitle mb-2 text-muted">Project: @Model.Project.Name </h6>
                <h6 class="card-subtitle mb-2 text-muted">Type: @Model.Type.Name </h6>
                <h6 class="card-subtitle mb-2 text-muted">Priority: @Model.Priority.Name</h6>
                <h6 class="card-subtitle mb-2 text-muted">Status: @Model.Status.Name </h6>
                <h6 class="card-subtitle mb-2 text-muted">Creator: @Model.Creator.Name </h6>
                @if (Model.AssignedDeveloper != null)
                {
                    <h6 class="card-subtitle mb-2 text-muted d-inline">Assigned Developer: @Model.AssignedDeveloper.Name </h6>
                    <a href="@Url.Action(nameof(BugController.UnAssignTicket),"Bug",new {Id=Model.Id })" title="Unassign Developer">
                        <i class="fas fa-user-minus d-inline"></i>
                    </a>
                }
                else
                {
                    <h6 class="card-subtitle mb-2 text-muted d-inline">Assigned Developer: None </h6>
                    <a href="@Url.Action(nameof(BugController.AssignTicket),"Bug",new {Id=Model.Id })" title="Assign Developer">
                        <i class="fas fa-user-plus d-inline"></i>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Attachments:</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    <label for="file">Filename:</label>
                    <input type="file" name="file" id="file" />
                    <button type="submit" class="btn btn-primary">Attach</button>
                </form>
                @if (User.IsInRole(nameof(UserRoles.Admin)) || User.IsInRole(nameof(UserRoles.ProjectManager)))
                {
                    foreach (var a in Model.Attachments)
                    {
                        <div class="d-block">
                            <a href="@Url.Content(a.FilePath)">
                                @a.FileName
                            </a>
                            <a href="@Url.Action(nameof(BugController.RemoveAttachment), "Bug", new { Id = a.Id, ticketId = Model.Id })" title="Remove Attachment">
                                <i class="fas fa-minus-square"></i>
                            </a>
                        </div>
                    }
                }
                else
                {
                    foreach (var a in Model.Attachments)
                    {
                        <div class="d-block">
                            <a href="@Url.Content(a.FilePath)">
                                @a.FileName
                            </a>
                            @if (a.User == Model.CurrentUser)
                            {
                                <a href="@Url.Action(nameof(BugController.RemoveAttachment), "Bug", new { Id = a.Id, ticketId = Model.Id })" title="Remove Attachment">
                                    <i class="fas fa-minus-square"></i>
                                </a>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">History:</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Changes</th>
                                    <th>Date and Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.Histories)
                                {
                                    <tr>
                                        <td>
                                            @foreach (var p in m.PropertyChanges)
                                            {
                                                <span class="d-block">
                                                    <strong class="text-primary">@p.PropertyName</strong> changed from
                                                    <strong class="text-success">@p.OldValue</strong> into
                                                    <strong class="text-danger">@p.NewValue</strong>
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            <span class="d-block">@m.DateTime</span>
                                            <span class="d-block">by @m.User.Name</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Comments:</h5>
                @if (!Model.Comments.Any())
                {
                    <p>No Comments yet.</p>
                }
                else
                {
                    foreach (var comment in Model.Comments)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="comments col-md-9" id="comments">
                                    <div class="comment mb-2 row">
                                        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                            <a href=""><img class="mx-auto rounded-circle img-fluid" src="~/Content/img/user.jpg" alt="avatar"></a>
                                        </div>
                                        <div class="comment-content col-md-11 col-sm-10">
                                            <h6 class="small comment-meta"><a href="#">@comment.User.UserName</a> @comment.DateCreated</h6>
                                            <div class="comment-body">
                                                <p>
                                                    @comment.Comment
                                                    <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <form action="@Url.Action(nameof(BugController.AddComment),"Bug",new {Id = Model.Id, model = Model})">
                    <div class="form-group">
                        <input type="text" class="form-control d-inline" placeholder="Enter comment" name="comment">
                        <button type="submit" class="btn btn-primary d-inline">Add Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
