@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a class="dropdown-item" href="@Url.Action("Index","Manage")">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Edit Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="@Url.Action("ActivityLog","Bug")">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
        </a>
    }
}
else
{
    <a class="dropdown-item" href="@Url.Action("Login","Account")">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        LogIn
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="@Url.Action("Register","Account")">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Register
    </a>
}
